.homeNoLoggin {
    margin-top: 80px;
}

.introContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 90px;
}

.homeImage1 {
    width: 400px;
    position: relative;
}

.RodJoin {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    background-color: #98a9ff;
    border-radius: 10px;
    padding:10px;
}

    .RodJoin > h1 {
        color: black;
        margin-top: 30px;
        font-size: 40px;
    }

    .RodJoin > p {
        color: black;
        margin-top: 30px;
        font-size: 20px;
        font-weight: 100;
        text-align: center;
    }

    .RodJoin > a:not(:last-child) {
        color: white;
        text-align: center;
        margin-top: 20px;
        font-size: 20px;
        font-weight: 100;
        background-color: #4F6BFF;
        width: 242px;
        padding: 4px;
        border-radius: 10px;
    }

    .RodJoin > a:nth-child(4) {
        color: black;
        text-align: center;
        margin-top: 30px;
        font-size: 19px;
        font-weight: 100;
        text-decoration: underline;
    }

.aboutUs {
    display: flex;
    justify-content: center;
    margin: 70px;
}

    .aboutUs > div > div > h1 {
        font-size: 50px;
        color: #666666;
        margin-bottom: 20px;
        text-align: center;
    }

    .aboutUs > div > p {
        margin-top: 50px;
        text-align: center;
        height: 10px;
        font-size: 20px;
        width: 580px;
    }

        .aboutUs > div > p > span {
            font-size: 30px;
            font-weight: 100;
            color: #4F6BFF;
        }

.founders {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

    .founders > h1 {
        font-size: 50px;
        color: #666666;
        margin-bottom: 20px;
        text-align: center;
        margin-top: 120px;
        height: 100px;
    }

    .founders > div {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .founders > table, td {
        border: 1px solid black;
        color: #4F6BFF;
        padding: 30px;
        text-align: center;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .founders > td {
        padding: 30px;
    }

.whyRod {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 120px;
    margin-bottom: 70px;
    min-height: 400px;
    margin-bottom: 70px;
    clear: both;
}

    .whyRod > h1 {
        font-size: 50px;
        color: #666666;
        margin-bottom: 20px;
        height: 100px;
        text-align: center;
    }

        .whyRod > h1 > span {
            font-size: 50px;
            font-weight: 100;
            color: #4F6BFF;
        }

    .whyRod > div {
        display: flex;
        width: 100%;
        justify-content: center;
    }

        .whyRod > div > p {
            font-size: 20px;
            font-weight: 100;
            text-align: center;
            width: 60%;
        }

        /*if user logged in Home Page Styling*/
.homeLoggedIn {
    margin: 0;
    padding: 0;
    position: relative;
}

.sidenav {
    transition: 2s;
    height: 100%;
    position: fixed;
    margin-top: 61px;
    border: 1px solid #babfc4;
    border-radius: 5px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffff;
    overflow-x: hidden;
    padding-top: 80px;
    text-align:center;
}

    .sidenav a {
        padding: 6px 6px 6px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        position: relative;
    }


.sidenav a:hover {
    color: black;
}
.hamburgerMenu {
    display: none;
    z-index:9999;
}

.display{
    display:block !important;
    transition:2s ease-in-out;
}
.hamburgerButton {
    outline: none;
    background-color: white;
    border: none;
    position: absolute;
    margin-left: 30px;
    cursor: pointer;
    font-size: 21px;
    z-index: 9999;
}

.content {
    display: flex;
    flex-direction: row;
    border: 1px solid #babfc4;
    border-radius: 5px;
    margin-left: 211px;
    padding: 20px;
}

    .content > div:nth-child(1) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        margin-right: calc(50% - 50px);
        margin-left: 30px;
    }


        



        .content > div:nth-child(1) input {
            width: 100%;
            text-align: center;
            height: 40%;
            border: none;
            background-color: #ffff;
            color:black;
            cursor: pointer;
            font-size: 20px;
            margin:10px;
        }
            .content > div:nth-child(1) input:hover {
                color: gray;
            }
    .content > div > a {
        border-radius: 500px;
        outline: none;
        border: none;
        background-color: #4F6BFF;
        width: 150px;
        font-size: 20px;
        padding: 10px;
        color: #ffff;
        border-radius: 10px;
        margin-top: 30px;
        cursor:pointer;
        text-align:center;
    }

    .content > div:nth-child(2) {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
    }

    .sectionQuestions {
    margin-left: 211px;
    min-height: 400px;
    margin-bottom: 70px;
    clear: both;
    }

.question {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "usernameQuestionDetails questionTitle votesAnswers"
        "usernameQuestionDetails questionTitle votesAnswers"
        "usernameQuestionDetails questionTitle votesAnswers";
    padding: 30px;
    border: 1px solid #babfc4;
    border-radius: 5px;
}

    .votesAnswers {
        grid-area: votesAnswers;
        display: flex;
        flex-direction: column;
        text-align: end;
        justify-content: end;
        align-items: flex-end;
        gap: 7px;
        margin: 10px 9px 0 0;
        position: relative;
    }

        .votesAnswers > h3 {
            margin: 0 33px 5px 0;
            font-size: 1.4rem;
            width: 100px;
        }

    .answersContainer > h3 {
        font-size: 1.38rem;
        margin-left: 14px;
        color: green;
    }

    .votesAnswers > h3:nth-child(1) > span {
        margin-right: 21px;
        position: absolute;
        right: 85px;
        top: 3px;
    }

    .answersContainer > h3 > span {
        position: absolute;
        right: 109px;
    }

    .answersContainer {
        border: 2px solid green;
        padding: 10px;
        width: 120px;
        text-align: center;
    }

    .questionTitle {
        grid-area: questionTitle;
        text-align: end;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        margin: 20px 0 0 0;
        color: #0173CC;
        font-size: 1.4625rem;
        font-weight: 100;
        text-decoration: underline;
    }
.title, .username {
    color: #0173CC;
}
    .usernameQuestionDetails {
        grid-area: usernameQuestionDetails;
        margin: 20px;
        display: flex;
    }
 
        .usernameQuestionDetails > h2 > span:nth-child(2) {
            font-size: 1rem;
        }

        .usernameQuestionDetails > p {
            color: #0173CC;
            font-size: 0.7rem;
            margin-top: 10px;
            margin: 10px 0 0 10px;
        }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

@media screen and (max-width: 840px) {
    .homeImage1 {
        display: none;
    }

    .RodJoin {
        width: 300px;
        padding: 10px;
    }

    .aboutUs > div > p {
        margin-top: 50px;
        text-align: center;
        height: 10px;
        font-size: 17px;
        width: 90vw;
    }

    .profileImage {
        position: relative;
        right: 5px;
    }

    .sidenav {
        display: none;
    }

    .hamburgerMenu {
        display: block;
    }

    .hamburgerButton {
        top: 30px;
    }

    .content {
        margin-left: 0;
    }

        .content > div:nth-child(1) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }



        .content > div:nth-child(2) {
            margin-left: 0px;
        }

            .content > div:nth-child(2) > button {
                margin-top: 20px;
                width: 100%;
            }

    .sectionQuestions {
        margin-left: 0;
    }

    .questionTitle {
        text-align: center;
        font-size: 1.2rem;
        width: calc(130% - 20px);
    }

    .usernameQuestionDetails {
        position: relative;
        right: 30px;
    }

    .votesAnswers {
        width: 100px;
        margin-left: 30px;
    }

        .votesAnswers > h3 {
            font-size: 1rem;
            margin: 0;
        }

    .answersContainer > h3 {
        font-size: 1rem;
        width: 70px;
        margin-left: -9px;
    }

    .votesAnswers > h3:nth-child(1) > span {
        margin-right: 0;
        position: relative;
        right: 0;
        top: 0;
    }

    .answersContainer > h3 > span {
        position: relative;
        right: 0;
    }

    .answersContainer {
        border: 1px solid green;
        width: 50px;
        margin-right: -10px;
    }
}
