* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
} 

body {
    position: relative;
    margin: 0;
    min-height: 100%;
    
}
.hideButton {
    display: none;
}

.navbar {
    border-bottom: 10px solid #0000;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 50px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

a {
    text-decoration: none;
}


.logo {
    padding: 9px;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: transparent;
    margin: 10px 10px 0 10px;
}

    .logo > span {
        font-size: 1.9rem;
        color: #4F6BFF;
    }

.questionLink {
    display: flex;
    list-style: none;
    margin-left: 30px;
    
}

    .questionLink > li {
        font-size: 1.3rem;
        margin-top: 13px;
        text-align: center;
        display: flex;
        gap: 7px;
    }

.searchContainer {
    width: calc(100% - 50px);
    display: flex;
    justify-content: flex-end;
    margin-left: calc(22% - 120px);
    margin-top: 10px;
}

.searchInputDiv {
    display: flex;
    align-items: center;
    position: relative;
}

.searchInput {
    direction:rtl;
    background-color: #ffff;
    border: 1px solid #4F6BFF;
    width: calc(55vw - 50px);
    height: 20px;
    padding: 9px;
    border-radius: 30px;
}

    .searchInput::placeholder {
        text-align: center;
    }

.showTextBox{
    display:block !important;
}
.searchIcon {
    position: absolute;
    margin-left: 7px;
    color:black;
}
.small{
    display:none;
}

.navLinks {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 13px;
}

#profileMenu {
    outline: none;
    border: none;
    background-color: inherit;
    cursor:pointer;
}
.dropdownContent {
    display: none;
    position: absolute;
    background-color: #4F6BFF;
    color: #ffff;
    width: fit-content;
    opacity: 0.8;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    padding: 20px;
}

.dropdownContent > ul > li:not(li:last-child) {
   margin-bottom: 5px;
}

.dropdownContent > ul > li > a, .logoutBtn {
    border: none;
    outline: none;
    background-color: inherit;
    color: #ffff;
    text-decoration: none;
    display: block;
    font-size: 19px;
    width: 100%;
    cursor: pointer;
}

.dropdownContent > ul > li > a {
    text-align: center;
    position: relative;
}


.drop {
    display: block;
    right: 50px;
}

.profileImage {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.icon {
    font-size: 1.8rem;
    color:black;
}

ul{
    list-style-type:none;
}
.footer {
    position: fixed;
    direction: rtl;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #4F6BFF;
    display: flex;
    z-index: 9999;
}

    .footer > div {
        width: calc(70% - 30px);
    }

    .footer > div > ul {
            color: #ffff;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
        }

    .footer > div > ul > li:nth-child(1) {
                font-size: 2.0rem;
                margin-bottom: 9px;
    }

    .footer > div > ul > li {
                font-size: 1.5rem;
                margin-right: 40px;
    }

    .footer > div:nth-child(2) {
            font-size: 1.0rem;
            margin-left: 30px;
            margin-bottom: 9px;
            color: #b9c5ff;
            margin: 7px 13px 0 0;
      }


@media screen and (max-width: 743px) {
    .searchContainer {
        margin-left: 0;
        
    }

    .searchInput {
        display: none;
        border-radius: 10px;
        position: absolute;
        right: 0;
        top: 40px;
        width: 50vw;
    }

    .searchIcon {
        position: relative;
        font-size: 23px;
        margin-right: 7px;
    }
    .big{
        display:none;
    }
    .small {
        display: block;
    }

    .navLinks {
        width: 160px;
    }
    .footer{
        bottom:-67px
    }
    .footer > div > ul > li:nth-child(1) {
        font-size: 1.4rem;
        margin-left: 0;
        margin-bottom: 9px;
    }

    .footer > div > ul {
        width: 100%;
    }

    .footer > div:nth-child(1) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer > div > ul > li {
        font-size: 1.0rem;
        margin-left: 0;
        width: 20px;
    }

    .footer > div:nth-child(2) {
        display: none;
    }
}
