
.postAnswer {
    display: grid;
    grid-template-columns: -webkit-max-content 1fr;
    grid-template-columns: max-content fr;
}
#alertDiv {
  display:none;
    position: fixed;
    left: 62%;
    padding:10px;
    transform: translate(-50%, 0);
    border-radius: 10px;
    background-color: #ffff;
    color: #4F6BFF;
    width: fit-content;
}
.fadeAway {
    animation-name: fadeaway;
    animation-duration: 4s;
}
@keyframes fadeaway {
    0% {
        opacity:1;
    }

    100% {
        opacity: 0;
    }
}
.display {
    display: block !important;
    transition: 2s ease-in-out;
}
.sidenav {
    height: 100%;
    position: fixed;
    margin-top: 62px;
    border-right: 2px solid black;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffff;
    overflow-x: hidden;
    padding-top: 80px;
}

    .sidenav a {
        padding: 6px 6px 6px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        position: relative;
    }

.hamburgerMenu {
    display: none;
}

.hamburgerButton {
    outline: none;
    background-color: white;
    border: none;
    position: absolute;
    margin-left: 30px;
    cursor: pointer;
    font-size: 21px;
}

#selectedNav {
    color: black;
}






.sidenav a:hover {
    color: black;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}
.questionContainer {
    height: fit-content;
    padding-bottom: 15vh;
    clear: both;
    margin-left: 211px;
    direction: rtl;
}

.questionHeader {
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.questionHead {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    direction: rtl;
}


    .questionHead > div > a {
        background-color: #4F6BFF;
        color: #ffff;
        border-radius: 13px;
        padding: 10px;
        width: 140px;
        display: block;
        text-align: center;
    }

.questionHeader > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 20px;
    padding: 20px;
}

    .questionHeader > div:nth-child(2) > span {
        color: #6A737C;
    }

.post {
    display: grid;
    grid-template-columns: -webkit-max-content 1fr;
    grid-template-columns: max-content 1fr;
}

.vote {
    vertical-align: top;
    padding-right: 15px;
    width: auto;
}

    .vote > div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 33px;
    }

        .vote > div > span {
            position: relative;
        }

            .vote > div > span:nth-child(2) {
                width: 22px;
                margin-top: 10px;
            }

            .vote > div > span > input {
                display: flex !important;
                background: none;
                color: white;
                padding: 0;
                border: 0;
                cursor: pointer;
                margin-left: 10px;
                width: 26px;
                height: 23px;
            }

            .vote > div > span > i {
                color: black;
                position: absolute;
                font-size: 30px;
                pointer-events: none;
            }

.postVote {
    grid-column: 1;
    width: auto;
}

.questionPost {
    vertical-align: top;
    padding-right: 16px;
    margin-top: 30px;
    padding: 10px;
    grid-column: 2;
    width: auto;
    min-width: 0;
}

    .questionPost > div {
        width: 100%;
        font-size: 15px;
        word-break: break-word;
        line-height: 1.5;
    }

.questionContainer > div:nth-child(5) {
    margin: 20px 30px 0 0;
}

.questionContainer > div > a {
    background-color: #E1ECF4;
    color: #39739D;
    padding: 5px;
    border-radius: 10px;
}


.userPostDetails {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding: 20px;
    border-bottom: 1px solid black;
}



    .userPostDetails > div:nth-child(1) > input, button, #ContentPlaceHolder1_editButton {
        background-color: inherit;
        margin-left: 20px;
        font-size: 1.2rem;
        border: none;
        cursor: pointer;
        color: black;
    }

    .userPostDetails > div:nth-child(2) {
        background-color: #a0afff;
        width: 140px;
        height: 67px;
        border-radius: 10px;
        padding: 10px;
    }

        .userPostDetails > div:nth-child(2) > div:nth-child(1) {
            color: #3f4042;
            font-size: 0.9rem;
            margin-bottom: 7px;
        }

        .userPostDetails > div:nth-child(2) > div:nth-child(2) > img {
            border-radius: 30px;
            width: 40px;
            height:40px;
            margin-right: 10px;
        }

        .userPostDetails > div:nth-child(2) > div:nth-child(2) {
            display: flex;
            gap: 10px;
        }

            .userPostDetails > div:nth-child(2) > div:nth-child(2) > a {
                margin-top: 10px;
            }

.answers {
    background-color: #4F6BFF;
    text-align: center;
    font-size: 2rem;
    color: #ffff;
    padding: 20px;
}

.noAnswerDiv{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:2rem;
}



.giveAnswerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.answerText {
    position: inherit;
    font-family: times, serif;
    font-size: 14px;
    border: 1px solid #babfc4;
    border-radius: 5px;
    width: 51.1%;
    padding: 10px 10px 230px;
}

.giveAnswerContainer > label {
    width: 52%;
    display: flex;
    margin-bottom: 7px;
    font-size: 2rem;
}

.giveAnswerContainer > div {
    width: 52%;
    display: flex;
    margin: 20px 0 7px 0;
}

.giveAnswerContainer > div > p {
        white-space: initial;
        width: 100%;
        height: fit-content;
        word-wrap: break-word
}

.answerButton {
    width: 30%;
    background-color: #4F6BFF;
    outline: none;
    border: none;
    padding: 7px;
    color: #ffff;
    border-radius: 7px;
    cursor: pointer;
    transition: .4s;
    font-size: 1.5rem;
}

.answerButton:hover {
        background-color: #2547ef;
}


@media screen and (max-width: 840px) {
    .sidenav {
        display: none;
    }

    .hamburgerMenu {
        display: block;
    }

    .hamburgerButton {
        top: 30px;
    }
    .questionContainer {
        margin-left: 0;
    }

    .questionHead > div > a {
        border-radius: 13px;
        padding: 10px;
        width: 100px;
    }
}
